<!DOCTYPE html>
<html>
    {{ partial "head" . }}
    <body>
        {{ partial "header" . }}
        {{ partial "nav" . }}
        <main>
            <article>
                <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                {{ if and (ne .Type "page") }}
                    {{ with .GitInfo }}
                        <p class="date">
                            <time datetime="{{ .AuthorDate.Format "2006-01-02 15:04:05 -0700" }}">
                                Last committed on {{ .AuthorDate.Format "06/01/02 15:04 -0700" }}
                            </time>
                        </p>
                    {{ end }}
                    <p class="date">
                        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z-0700" }}">
                            Posted on {{ .Date.Format "06/01/02 15:04 -0700" }}
                        </time>
                    </p>
                {{ end }}
                {{ with .Params.tags }}
                    <ul>
                        {{ range . }}
                            <li><a href="/tags/{{ . | urlize }}">{{ . | urlize }}</a></li>
                        {{ end }}
                    </ul>
                {{ end }}
                {{ with .Params.Image }}<img src="{{ . }}">{{ end }}
                {{ with .Description }}<p>{{ . }}</p>{{ end }}
                <section>{{ .Content }}</section>
            </article>
        </main>
        {{ partial "footer" . }}
    </body>
</html>
